table.splited-table-fragment tr:first-child th:first-child{
    border-radius: 5px 0 0 0;
}

table.splited-table tr:last-child td, 
table.splited-table-fragment tr:last-child td { border: none }

table.splited-table-fragment th {
    text-align: center;
    width: 50%;
}

table.splited-table-fragment { margin-bottom: 10px }
