:root {
    --table-height: 300px
}
table {
    font-family: sans-serif;
    border-spacing: 0;
    border-bottom: 4px solid teal;
    width: 100%;
}
table thead tr th:first-child { border-radius: 5px 0 0 0 }
table thead tr th:last-child{ border-radius: 0 5px 0 0 }

table th {
	border: 1px solid teal;
  	background-color: teal;
  	color: white;
	text-align: left;
}
table td, 
table th { padding: 15px }

table tr td,
table tr input,
table tr select { background-color: white }

table tr td,
table tr input { border-bottom: 1px solid black }

table tr select { border-bottom: none }

table tr:nth-child(even) { background-color: silver }
table tr:nth-child(odd) { background-color: white }